.ag-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-cell {
  background-color: #f5f5f5;
  color: #333;
  font-weight: bold;
}

.custom-header {
  background-color: #333;
  color: #fff;
}

/* .ag-theme-alpine {
  height: 400px;
  width: 600px;
} */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-page-grid {
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 100%;
  box-sizing: border-box;
}

ag-grid-angular {
  flex: 1; /* Take all available space */
  width: 100%;
}
