<div fxLayout="column" fxLayoutGap="2px">
  <!-- Controls in a single row -->
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px" class="same-height-row" style="flex-shrink: 0;">
    <!-- Label -->
    <label class="same-height">Filtered Row Count: {{ filteredRowCount }}</label>

    <!-- Buttons with grey background and inline height -->
    <button (click)="exportToCSV()" class="small-grey-button" style="padding: 0 16px;">
      <i class="fas fa-file-csv"></i> Export to CSV
    </button>
    <button (click)="setSelectedToBlank()" class="small-grey-button" style="padding: 0 16px;">
      Clear Selected
    </button>
    <button (click)="setSelectedToYes()"  class="small-grey-button" style="padding: 0 16px;">
      Set Selected
    </button>
    <button (click)="clearFilters()" class="small-grey-button" style="padding: 0 16px;">Clear All Filters</button>

    <label class="same-height" style="padding-left:25px">View:</label>

    <mat-select [(ngModel)]="selectedView" (selectionChange)="onViewSelect($event.value)" style="width: 400px; font-size: 16px;height: 26px; background-color: rgb(230, 226, 226);">
      <mat-option *ngFor="let view of views" [value]="view.file">
        {{ view.name }}
      </mat-option>
    </mat-select>

    <!-- Dropdown -->
    <!-- <mat-form-field appearance="fill" style="border:none;" >
      <mat-select [(ngModel)]="selectedView" (selectionChange)="onViewSelect($event.value)" style="width: 200px; height: 48px; background-color: lightgray;">
        <mat-option *ngFor="let view of views" [value]="view.file">
          {{ view.name }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>

  <!-- Grid -->
  <div class="full-page-grid">
    <ag-grid-angular style="width: 100%; height: 100%;"
      class="ag-theme-alpine"
      [gridOptions]="gridOptions"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [frameworkComponents]="frameworkComponents"
      [multiSelectDropdownComponent]="multiSelectDropdownComponent"
      [defaultColDef]="defaultColDef"
      (filterChanged)="onFilterChanged()">
    </ag-grid-angular>
  </div>
</div>
