.custom-cell {
  background-color: #f5f5f5;
  color: #333;
  font-weight: bold;
}

.custom-header {
  background-color: #333;
  color: #fff;
}

/* .ag-theme-alpine {
  height: 400px;
  width: 600px;
} */
