<div>
  <app-dynamic-grid
  [table_name]="table_name"
  [api_end_point]="api_end_point"
  [sp]="sp"
  [display_on_load]="display_on_load">
  </app-dynamic-grid>
</div>
<div style="text-align: center; margin-top: 20px;">
  <!-- <button mat-raised-button color="primary" (click)="onClickSearchCandidates()" [class.cursor-wait]="showPleaseWaitCursor" [class.cursor-normal]="!showPleaseWaitCursor">Search Candididates</button> -->
  <button mat-raised-button color="primary" (click)="onClickSearchCandidates()" [class.spinner]="showPleaseWaitCursor" [disabled]="showPleaseWaitCursor">Search Candididates</button>
</div>
