<div fxLayout="column" fxLayoutGap="20px">
  <!-- Controls in a single row -->
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="same-height-row">
    <!-- Dropdown -->
    <mat-form-field appearance="fill" fxFlex="20%" class="same-height">
      <mat-label>Source</mat-label>
      <mat-select [(ngModel)]="selected_source" required>
        <mat-option *ngFor="let column of source_columns" [value]="column">
          {{ column }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Generic Search Component -->
    <app-generic-search fxFlex="30%" [sp]="'sp_SearchJob'" [tableName]="'job'"
      [columns]="['job_id', 'jobname', 'nucc_classification', 'company_name', 'title', 'status']">
    </app-generic-search>

    <!-- Buttons -->
    <button mat-raised-button color="primary" (click)="onClickSearchField()" class="same-height">
      Search Database
    </button>
    <button mat-raised-button color="primary" (click)="onClickClusterJobs()"
      [class.spinner]="onClickClusterJobsWaitCursor" [disabled]="onClickClusterJobsWaitCursor" class="same-height">
      Cluster Jobs
    </button>
    <button mat-raised-button color="primary" (click)="onClickSearchCandidates()"
      [class.spinner]="onClickSearchCandidatesWaitCursor" [disabled]="onClickSearchCandidatesWaitCursor"
      class="same-height">
      Search NUCC
    </button>
  </div>

  <!-- Grid -->
  <div>
    <app-dynamic-grid [table_name]="table_name" [api_end_point]="api_end_point" [sp]="sp"
      [display_on_load]="display_on_load">
    </app-dynamic-grid>
  </div>
</div>
