<div fxLayout="column" class="tab-container-div" style="height: 92vh; max-width: 100%; overflow: hidden;">

  <!-- Search + Task Selector -->
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="tasks-container"
    style="max-width: 100%; overflow-x: hidden;">

    <app-generic-search (triggerParentMethod)="onChildEvent()" fxFlex="30%" [sp]="'sp_SearchJobApplications'"
      [tableName]="'jobapplication'" [columns]="['vms_job_id', 'job_id', 'client', 'company_name', 'title']"
      class="left-aligned">
    </app-generic-search>

    <div style="margin-right: 0px!important;" fxLayout="row" fxLayoutAlign="end center" fxFlex>
      <label style="margin-right: 4px;"><b>Data:</b></label>
    </div>
    <mat-select class="task-mat-select" [(ngModel)]="selectedTask" required (selectionChange)="onTaskChange($event)"
      fxFlex="none">
      <mat-option *ngFor="let task of tasks" [value]="task.code">
        {{ task.value }}
      </mat-option>
    </mat-select>
  </div>

  <!-- Grid (fills available space) -->
  <div class="grid-wrapper">
    <app-dynamic-grid [table_name]="table_name" [api_end_point]="api_end_point" [sp]="sp"
      [display_on_load]="display_on_load">
    </app-dynamic-grid>
  </div>

  <!-- Bottom Buttons -->
  <div fxLayout="column" fxLayoutGap="2px">

    <!-- Primary Row -->
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" style="flex-shrink: 0;">
      <button class="small-button" mat-raised-button color="primary" (click)="toggleButtons()">Advanced Menu</button>

      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="40px">
        <button class="small-button" mat-raised-button color="primary" (click)="onClickRefreshJobs()"
          [class.spinner]="onClickRefreshJobsWaitCursor" [disabled]="onClickRefreshJobsWaitCursor">
          Refresh Grid
        </button>
        <button class="small-button" mat-raised-button color="primary" (click)="openFacebookPostDialog()">
          Facebook Post
        </button>
        <button class="small-button" mat-raised-button color="primary" (click)="openTravelDialog()">
          Travel Pay Breakdown
        </button>
        <button class="small-button" mat-raised-button color="primary" (click)="onClickSmartSearch()">
          Search NPI and Ceipal And Save
        </button>
        <button class="small-button" mat-raised-button color="primary" (click)="onClickElasticSearch()">
          Search Ceipal
        </button>
        <button class="small-button" mat-raised-button color="primary" (click)="searchWithoutSave('ceipal')"
          [class.spinner]="onClickSearchCandidatesWaitCursor" [disabled]="onClickSearchCandidatesWaitCursor">
          Search Ceipal Without Save
        </button>
        <button class="small-button" mat-raised-button color="primary" (click)="searchCount('ceipal')"
          [class.spinner]="onClickSearchCandidatesWaitCursor" [disabled]="onClickSearchCandidatesWaitCursor">
          Search Ceipal Count
        </button>


        <button class="small-button" mat-raised-button color="primary" (click)="onClickText()">
          Text Jobs
        </button>
      </div>
    </div>

    <!-- Secondary Row (Advanced Menu) -->
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" *ngIf="showButtons" style="flex-shrink: 0;">
      <button class="small-button" mat-raised-button color="primary" (click)="onClickGetCeipalJobs()"
        [class.spinner]="onClickSearchCeipalJobsWaitCursor" [disabled]="onClickSearchCeipalJobsWaitCursor">
        Get Ceipal Jobs
      </button>

      <app-file-upload class="small-button" [buttonLabel]="'Upload Aya Jobs'" (csvParsed)="handleCsvData($event)">
      </app-file-upload>

      <button class="small-button" mat-raised-button color="primary" (click)="showJobsByDistance()">
        Matching Jobs
      </button>

      <button class="small-button" mat-raised-button color="primary" (click)="onClickRefreshAndUpdatePay()">
        Update Pay
      </button>

      <button class="small-button" mat-raised-button color="primary" (click)="copyNuccClassificationToFilteredRows()">
        Copy Classification From Selected
      </button>

      <button class="small-button" mat-raised-button color="primary" (click)="matchMissingClassification()">
        Match Missing Classification
      </button>
    </div>

  </div>
</div>