<!-- <app-dynamic-grid [table_name]="candidate_profile_table_name"></app-dynamic-grid> -->
<!-- app.component.html -->
<div class="main-content">

    <mat-tab-group #tabs>
        <mat-tab label="Jobs">
            <app-jobtab></app-jobtab>
        </mat-tab>
        <mat-tab label="JobApplication">
            <app-job-application></app-job-application>
        </mat-tab>
        <mat-tab label="StatusReport">
            <app-status-report-tab></app-status-report-tab>
        </mat-tab>
        <mat-tab label="Taxonomy">
            <app-taxonomy></app-taxonomy>
        </mat-tab>
        <mat-tab label="Logs">
            <app-log-tab></app-log-tab>
        </mat-tab>

    </mat-tab-group>
</div>


<!-- <mat-tab-group #tabs    >
    <mat-tab label="Candidates">
        <app-candidatetab></app-candidatetab>
    </mat-tab>
    <mat-tab label="Jobs">
        <app-jobtab></app-jobtab>
    </mat-tab>
    <mat-tab label="JobApplication">
        <app-job-application></app-job-application>
    </mat-tab>
    <mat-tab label="Taxonomy">
        <app-taxonomy></app-taxonomy>
    </mat-tab>

</mat-tab-group> -->