<div fxLayout="column" class="tab-container-div"
     style="height: 96vh; max-width: 100%; overflow: hidden;">
  <!-- Task selection row -->
  <div fxLayout.gt-sm="row" fxLayout.lt-md="column"
       fxLayoutAlign="start center"
       fxLayoutGap="20px"
       style="overflow-x: auto; flex-wrap: wrap; padding: 8px 16px;">
    
    <app-generic-search
      (triggerParentMethod)="onChildEvent()"
      fxFlex.gt-sm="30%" fxFlex.lt-md="100%"
      [sp]="'sp_SearchJobApplications'"
      [tableName]="'jobapplication'"
      [columns]="['jobapplication_id', 'full_name',  'email', 'mobile_e164_format','job_id','vms_job_id']"
      class="left-aligned">
    </app-generic-search> 

        <div style="margin-right: 0px!important;" fxLayout="row" fxLayoutAlign="end center" fxFlex>
      <label style="margin-right: 4px;"><b>Task:</b></label>
    </div>

    <mat-select class="task-mat-select desktop-only"
      [(ngModel)]="selectedTask"
      required
      (selectionChange)="onTaskChange($event)"
      fxFlex="none">
      <mat-option *ngFor="let task of tasks" [value]="task.code">
        {{ task.value }}
      </mat-option>
    </mat-select>
  </div>

  <!-- Grid section with forced height -->
 
 <div class="grid-wrapper-medium">
        <app-dynamic-grid
        class="force-grid-height"
        [table_name]="table_name"
        [api_end_point]="api_end_point"
        [sp]="sp"
        [display_on_load]="display_on_load"
        [clearOtherRowsOnSelect]="true">
      </app-dynamic-grid>
    </div>
  

  <!-- Bottom toolbar -->
  <div fxLayout.lt-md="column" fxLayout.gt-sm="row"
       fxLayoutAlign="space-between center"
       fxLayoutGap="10px"
       style="padding: 8px 16px 6px; border-top: 1px solid #ccc; background: #fff; flex-shrink: 0;">

    <!-- Left buttons -->
    <div fxLayout="row" fxLayoutGap="5px" fxFlex wrap>
      <button class="small-button" mat-raised-button color="primary" (click)="toggleButtons()">Advanced Menu</button>
      <div *ngIf="showButtons" fxLayoutGap="5px">
        <button class="small-button" mat-raised-button color="primary" (click)="onClickSendText()">Text Candidates</button>
        <button class="small-button" mat-raised-button color="primary" (click)="openTravelDialog()">Travel Pay</button>

        </div>
    </div>

    <!-- Right buttons -->
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" fxFlex wrap>
      <div class="select-button-group">
        <mat-select class="search-mat-select" style="width: 350px;" [(ngModel)]="selectedMessageType">
          <mat-option [value]="''">Select Text Type</mat-option>
          <mat-option [value]="'thanks_for_scheduling'">Thanks for Scheduling</mat-option>
          <mat-option [value]="'wysiwyg'">Blank Message</mat-option>
          <mat-option [value]="'rtr'">Create RTR</mat-option>
          <mat-option [value]="'job_information'">Send Job Information</mat-option>
          <mat-option [value]="'check_later_time'">Check Availability</mat-option>
          <mat-option [value]="'check_still_interested'">Answer any Questions</mat-option>
          <mat-option [value]="'about_us'">About us</mat-option>
          <mat-option [value]="'text_before_calling'">Heads Up Before Calling</mat-option>
          <mat-option [value]="'left_a_voice_mail'">Left a Voice Mail</mat-option>
          <mat-option [value]="'thanks_for_letting_me_know'">Thanks for Letting Me Know</mat-option>
          <mat-option [value]="'got_vm_request_calendy'">Got VM - Request Calendly</mat-option>
          <mat-option [value]="'request_manual_calendy'">Request Calendly</mat-option>
          <mat-option [value]="'request_manual_calendy_missed'">Request Calendly Again For No Show</mat-option>
          <mat-option [value]="'position_on_hold'">Position on Hold</mat-option>
          <mat-option [value]="'send_document_list_ma'">Send Document List Medical Assistant</mat-option>
          <mat-option [value]="'send_document_list_lpn'">Send Document List LPN</mat-option>
          <mat-option [value]="'nudge_for_current_submission_documents'">Nudge for Current Submission Document</mat-option>
          <mat-option [value]="'nudge_for_future_submissionsn_documents'">Nudge for Future Submission Document</mat-option>
          <mat-option [value]="'dice_reach_out_job_desc_calendly'">Dice Candidates Reach Out</mat-option>
          <mat-option [value]="'resume_request_email_template_include_job_description_html'">Email - Send JD and Request Resume After Yes</mat-option>
          <mat-option [value]="'request_information_email_for_submission_html'">Email - Request information for submission</mat-option>
          <mat-option [value]="'rtr_email_html'">Email - RTR</mat-option>

        </mat-select>
        <button mat-raised-button color="primary" (click)="onCreateMessage()" class="small-button"
          style="border-top-left-radius:0;border-bottom-left-radius: 0;">
          Create Message
        </button> 
      </div>

      <button mat-raised-button color="primary" [class.spinner]="refreshCursor" [disabled]="refreshCursor"
              (click)="onClickRefreshJobApplications()" class="small-button">
        Refresh Grid
      </button>

      <button mat-raised-button color="primary" [class.spinner]="conversationCursor" [disabled]="conversationCursor"
              (click)="showConversation()" class="small-button">
        Conversation History
      </button>

      <button mat-raised-button [class.spinner]="matchingCursor" [disabled]="matchingCursor" color="primary"
              (click)="showJobsByDistance()" class="small-button">
        Find Matching Jobs
      </button>
    </div>
  </div>
</div>
