<div style="display: flex; align-items: center; gap: 20px;">
  <mat-form-field appearance="fill" style="margin-right: 20px;">
    <mat-label>Source</mat-label>
    <mat-select [(ngModel)]="selected_source" required>
      <mat-option *ngFor="let column of source_columns" [value]="column">
        {{ column }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-generic-search (triggerParentMethod)="onChildEvent()" [sp]="'sp_SearchJobApplications'" [tableName]="'jobapplication'"
    [columns]="['mobile', 'jobapplication_id', 'npi_number', 'job_id', 'first_name', 'email', 'taxonomy']"></app-generic-search>
  <mat-form-field appearance="fill" style="margin-right: 20px; width: 25%!important;">
    <mat-label>Task</mat-label>
    <mat-select [(ngModel)]="selectedTask" required (selectionChange)="onTaskChange($event)">
      <mat-option *ngFor="let task of tasks" [value]="task.code">
        {{ task.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onClickSendText()" [class.spinner]="showPleaseWaitCursor"
  [disabled]="showPleaseWaitCursor">Text Candididates</button>

  <!-- <button mat-raised-button color="primary" (click)="onClickGo()">Go</button> -->

</div>
<div>
  <app-dynamic-grid [table_name]="table_name" [api_end_point]="api_end_point" [sp]="sp"
    [display_on_load]="display_on_load">
  </app-dynamic-grid>
</div>